.sidebar-container {
  float: left;
  width: $sidebar-width;
  height: 100%;
}
.sidebar-navigate {
  position: relative;
  font-size: 14px;
  padding: 10px 0;
  height: 100%;
  background: #001529;
}
.sidebar-menu {
  display: block;
  width: auto;
  color: #515a6e;
  font-size: 16px;
  position: relative;
  z-index: 900;
}
.sidebar-menu-item {
  cursor: pointer;
  & > a {
    display: block;
    color: rgba(255, 255, 255, 0.65);
    padding: 10px 15px 10px 24px;
    transition: all 0.3s;
  }
  &:hover {
    & > a {
      color: #fff;
      transition: all 0.3s;
    }
  }
}
.sidebar-menu-active {
  background: #505bda;
}
