@charset "utf-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: PingFangSC-Regular, Arial, 'Microsoft Yahei', STHeiTi,
    'Helvetica Neue', Helvetica, sans-serif, Verdana, 微软雅黑, 宋体;
  color: #333;
  line-height: 1.15;
  -webkit-text-size-adjust: none;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#app,
.layout-container,
.main-container {
  height: 100%;
}
