$theme: #3963bc;
$theme-bj-color: #f0f2f5;

$header-height: 60px;
$sidebar-width: 16.66666667%;

// btn
$btn-color: #fff;
$btn-primary: #505bda;
$btn-warning: #b20000;

// 字体渐变色
$home-font-linear: #ffecc8;
$home-font-gradient: #ffc37a;
